$primary-color: #184686; 

$white: #ffffff;

$gray-50: #cccccc;
$gray-100: #f4f4f4;
$gray-150: #444444;
$gray-200: #232323;

$black: #232323;

$blue-100: #0679b3;
$blue-200: #002979;

$yellow-100: #ffbb00;
$orange-100: #df6800;

